In [1]:
import pandas as pd
import numpy as np
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [2]:
ticket = ['^NSEI' ,'^BSESN']
data = pd.DataFrame()

for i in ticket:
    data[i] = wb.DataReader( i , data_source = "yahoo" , start = '2015-01-05' , end = "2020-05-15")["Adj Close"]

In [3]:
data.head()

                  ^NSEI        ^BSESN
Date
2015-01-05  8378.400391  27842.320312
2015-01-06  8127.350098  26987.460938
2015-01-07  8102.100098  26908.820312
2015-01-08  8234.599609  27274.710938
2015-01-09  8284.500000  27458.380859

In [4]:
sec_return = np.log(data / data.shift(1))
sec_return.head()

               ^NSEI    ^BSESN
Date
2015-01-05       NaN       NaN
2015-01-06 -0.030422 -0.031185
2015-01-07 -0.003112 -0.002918
2015-01-08  0.016221  0.013506
2015-01-09  0.006042  0.006712

In [5]:
cov = sec_return.cov()*250
cov

           ^NSEI    ^BSESN
^NSEI   0.032692  0.032751
^BSESN  0.032751  0.033070

### creating the coveriance matrix between those two stock

* then ilock would allow as to obtain the covarince between the stock and the market as a float

In [6]:
cov_with_market = cov.iloc[0,1]
cov_with_market

0.03275073055230559

In [7]:
market_var = sec_return["^NSEI"].var()*250
market_var

0.03269233732325098

### Now obtaining the BETA

### KEY TAKEAWAYS
* The beta indicates how volatile a stock's price is in comparison to stocks in general.
* A beta greater than 1 indicates a stock's price swings more wildly than most stocks.
* A beta of 1 or lower indicates that a stock's price is steadier than most stocks


## Beta coefficient(β) = Covariance(Re,Rm)/Variance(Rm)
#### where:
* Re=the return on an individual stock
* Rm =the return on the overall market
* Covariance=how changes in a stock’s returns are
* related to changes in the market’s returns
* Variance =how far the market’s data points spread
out from their average value

In [8]:
NSEI_beta = cov_with_market / market_var
NSEI_beta

1.001786144211019

## calculate the expected retrun (CAPM)
- Ra=Rrf+[Ba∗(Rm−Rrf)]
- where:
- Ra=Cost of Equity
- Rrf=Risk-Free Rate
- Ba=Beta
- Rm=Market Rate of Return
​

In [9]:
camp_expected_retrun = 0.025+NSEI_beta*0.05
camp_expected_retrun

0.07508930721055096

### will calculate the sharpe ratio

* The Sharpe ratio is a measure of risk-adjusted return. 
* It describes how much excess return you receive for the volatility of holding a riskier

In [10]:
sharpe =( camp_expected_retrun - 0.025)/(sec_return['^NSEI'].std()*250**0.5)
sharpe

0.27702696193645315